             body {
                 padding: 0;
                 margin: 0;
             }
             
             .nav {
                 overflow: hidden;
                 background-color: tomato;
                 position: sticky;
                 top: 0;
             }
             
             .nav a {
                 margin-left: 40px;
                 float: left;
                 color: #fff;
                 font-size: 18px;
                 text-decoration: none;
                 padding: 14px 17px;
                 font-family: Verdana, Geneva, Tahoma, sans-serif;
             }
             
             .nav a:hover {
                 background-color: antiquewhite;
                 color: #154256;
             }
             
             .nav a.active {
                 background-color: #154256;
                 color: white;
             }
             
             #orario {
                 clear: both;
                 color: #154256;
                 font-size: 17px;
                 font-family: Verdana, Geneva, Tahoma, sans-serif;
             }
             
             .text {
                 text-align: center;
                 margin-top: 80px;
             }
             
             .text a {
                 color: #154256;
                 font-size: 1.2rem;
                 font-family: cursive;
             }
             
             .text a:hover {
                 color: green;
                 transition: all 3s;
                 font-size: 1.4rem;
             }
             
             .textx {
                 margin-top: 100px;
                 width: 30%;
                 height: fit-content;
                 text-align: justify;
                 display: flex;
                 float: left;
                 margin-left: 2%;
             }
             
             h2 {
                 margin-left: 40px;
             }
             
             ul {
                 float: left;
                 color: #04aa6b;
                 margin-top: auto;
             }
             
             img {
                 width: 98%;
                 margin-left: 1%;
                 object-fit: cover;
                 height: 500px;
                 margin-top: 120px;
             }
             
             .pie-pagina {
                 margin-top: 60px;
                 width: 100%;
                 height: 100px;
                 text-align: center;
                 background-color: seagreen;
             }
             
             .pie-pagina span {
                 color: aliceblue;
             }
             
             @media (min-width:360px) and (max-width:500px) {
                 .textx {
                     width: 80%;
                     height: fit-content;
                     text-align: justify;
                     margin-left: 10%;
                     margin-top: 30px;
                 }
                 #pie {
                     margin-top: 160px;
                 }
             }